{% extends 'base.html' %}
{% block content %}
<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django App</h1><h1 class="display-1 text-center">Emily Gallegos</h1>
        Django es un popular framework de desarrollo web en Python que facilita la creación de aplicaciones web robustas y escalables. 
        Ofrece una arquitectura de alto nivel que incluye componentes como ORM (Object-Relational Mapping), un potente sistema de plantillas, 
        y un panel de administración automático. Aquí te presento una guía paso a paso para crear una aplicación web sencilla con Django.
    <div class="text-center">
        <a class="btn btn-secondary" href="/signin/">
            Iniciar sesión
        </a>
        <a class="btn btn-dark" href="/signup/">
            Registrarse
        </a>
    </div>
    </section>
</main>
{% endblock %}